<p style="color: green"><%= notice %></p>

<%= render @categories_transaction1 %>

<div>
  <%= link_to "Edit this categories transaction1", edit_categories_transaction1_path(@categories_transaction1) %> |
  <%= link_to "Back to categories transaction1s", categories_transaction1s_path %>

  <%= button_to "Destroy this categories transaction1", @categories_transaction1, method: :delete %>
</div>
