<p style="color: green"><%= notice %></p>

<%= render @categories_transaction %>

<div>
  <%= link_to "Edit this categories transaction", edit_categories_transaction_path(@categories_transaction) %> |
  <%= link_to "Back to categories transactions", categories_transactions_path %>

  <%= button_to "Destroy this categories transaction", @categories_transaction, method: :delete %>
</div>
