<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<section class="container">
  <%= link_to category_path(@category.id) do %>
  <article class="row d-flex border my-1">
    <div class="col-3">
      <img src=<%= @category.icon %> alt="Category Icon" class="m-1 img-fluid rounded-1">
    </div>
    <div class="col-6 pt-3">
      <p class="category-name"><%= @category.name %></p>
      <span class="date"><%= @category.created_at %></span>
    </div>
    <div class="col-3 pt-3">
      <span class="amount-dls">$<%= @category.amount %></span>
    </div>
  </article>
<% end %>
  <br>
  <% @transactions1s.each do |transac| %>
    <article class="row border my-1">
  <div class="col-9">
    <p class="transac-name">Transaction <%= transac.name %></p>
    <p class="date"><%= transac.created_at %></p>
  </div>
  <div class="col-3">
    <span class="amount-dls">$<%= transac.amount %></span>
  </div>
</article>
  <% end %>
</section>

<div class="bottom-container position-fixed bottom-0 w-100">
  <div class="inner-bottom-container text-center">
    <%= link_to "NEW TRANSACTION", new_transactions1_path, class: "bottom-btn" %>
  </div>
</div>